
900 drone pdf/Model Aircraft Aerodynamics.pdf
200 참고 자료/이론 학습 필요성.mp4
200 참고 자료/900 drone pdf/Model Aircraft Aerodynamics.pdf
200 참고 자료/100 drone pdf/Model Aircraft Aerodynamics.pdf
100 주간 발표 자료/5주차 라즈베리 설치 및 사용법 20190803- 오지만/balenaEtcher-Setup-1.5.52.exe
100 주간 발표 자료/5주차 라즈베리 설치 및 사용법 20190803- 오지만/desktop.ini
100 주간 발표 자료/5주차 라즈베리 설치 및 사용법 20190803- 오지만/emlid-raspbian-20190227.img.xz
100 주간 발표 자료/5주차 라즈베리 설치 및 사용법 20190803- 오지만/SDCardFormatterv5_WinEN.zip
*.mp4
